
body {
    font-family: monospace;
    text-align:center;
    background:black;
  }

  h1 {
      color:white;
      font-family: monospace;
  }
  
  .answer {
    list-style: none;
  }
  
  .letter {
    display: inline-block;
    width: 35px;
    margin: 0 5px;
    border-bottom: 1px solid white;
    text-align: center;
    color:black;
    list-style: none;
  }
  
  .msg {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .error {
    color: red;
    opacity: 1;
  }
  
  .correct {
    background-color: transparent;
    color:white;
    font-family: monospace;
    transition: all 1s ease;
  }
  
  .warning {
    color: red;
    opacity: 1;
  }
  
  .won {
    color: green;
    opacity: 1;
  }

  #hangman {
      color:white;
  }

  .chancesLeft {
      color:white;
  }


#guesses-left,  
#win-counter, 
#losses-counter,
#letters-guessed,
#win-counter-title,
#losses-counter-title  {
    color:white;
    font-family: monospace
}
    